apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-ingress
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/vanrooijenvision/git-ops.git
    targetRevision: main
    path: infra/ingress

  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
